/* @font-face {
  font-family: "<font>";
  src: "...";
} */

.md-typeset {
  font-size: 16px;  /* 0.85 = 13.6px при стандартном 16px */
}

.md-nav {
  font-size: 15px;  /* 0.85 = 13.6px при стандартном 16px */
}

/* @font-face {
  font-family: 'DotGothic16';
  src: url('/fonts/DotGothic16-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;  
}

:root {
  --md-text-font: 'DotGothic16', 'Noto Sans', 'Roboto', 'Segoe UI', system-ui, -apple-system, sans-serif;
  --md-code-font: 'JetBrains Mono', 'Fira Code', monospace; 
} */

/* Подключение шрифта */
@font-face {
  font-family: 'DotGothic16';
  src: url('/fonts/DotGothic16-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('/fonts/Onest-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'consolas';
  src: url('/fonts/consolas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'catV';
  src: url('/fonts/CatV_6x12_9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CourierWG';
  src: url('/fonts/Courier WGL4 Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rursus';
  src: url('/fonts/RursusCompactMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TDAtext';
  src: url('/fonts/TDAText.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotCourierSans';
  src: url('/fonts/NotCourierSans.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira';
  src: url('/fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}



.md-typeset {
  font-family: 'Onest', 'DotGothic16', 'Noto Sans', 'Roboto', 'Segoe UI', sans-serif !important;
}



/* Только для основного контента */
.md-typeset {
    line-height: 1.;
}

.md-grid { /* увеличение ширины средней части сайта с текстом */
    max-width: 90%;  /* или конкретное значение: 1440px, 1600px */
}

figcaption { /* стилизация подписей в markdown captions */
    text-align: center;
    font-style: italic;
    color: #6c757d;
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
    font-size: 0.8em;
    padding-top: 0 !important;
    line-height: 1.3;
}


.figure-center {
    text-align: center;
}

.figure-center img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Левое выравнивание с подписью */
.figure-left {
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 0 !important;
    max-width: 50%;
}

.figure-left figcaption {
    text-align: left;
}

/* Правое выравнивание с подписью */
.figure-right {
    float: right;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    max-width: 50%;
}

.figure-right figcaption {
    text-align: right;
}

/* Очистка обтекания после правого/левого блока */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}